.pricing {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 80px;
}

.main-title {
  color: #36536b;
  margin-bottom: 48px;

  /* copied from figma */
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.2461538463830948px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.plans {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.plan-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #ba4270;
  margin-bottom: 16px;

  /* copied from figma */
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.1846153885126114px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.description {
  color: #6c8294;
  margin-bottom: 8px;

  /* copied from figma */
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.price {
  color: #36536b;

  /* copied from figma */
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.4307692348957062px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.functionalities-wrapper {
  width: 100%;
  padding: 24px 0px;

  border-top: #36536b40 1px solid;
  border-bottom: #36536b40 1px solid;

  display: flex;
  justify-content: center;
}

.functionalities {
  list-style-type: none;
  padding: 0;
}

.functionality {
  color: #36536b80;

  /* copied from figma */
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.active-functionality {
  color: #36536b;
  list-style-image: url("../assets/pricing/checkmark.svg");
}

.button {
  border: 1px solid #36536b;
  border-radius: 24px;
  padding: 16px 32px;
  text-decoration: none;
  background-color: transparent;
  color: #36536b;

  /* copied from figma */
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  letter-spacing: -0.11538461595773697px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.button:hover {
  background-color: #36536b;
  color: #fbfcfe;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 80px;
  }

  .pricing {
    margin-bottom: 100px;
  }

  .plans {
    flex-direction: row;
    gap: 10px;
  }

  .main-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    margin-bottom: 72px;
  }
}

@media (min-width: 1024px) {
  .plan {
    align-items: flex-start;
  }

  .plan-description {
    align-items: flex-start;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.2461538463830948px;
    text-align: left;
  }

  .description {
    text-align: left;
  }

  .price {
    text-align: left;
  }

  .functionalities-wrapper {
    justify-content: flex-start;
  }

  .functionalities {
    margin-left: 36px;
  }
}
